PermitRootLogin no
AuthorizedKeysFile  .ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no

UsePAM no
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
AcceptEnv LANG LC_*
